
a:visited {
    color: black;
}

a:hover {
    color: blue;
}
p {color: black;}
.gold { color: black; }
.silver {color: black;}
.bronze{color: black;}
.parallax {background-image: url(http://www.mrwallpaper.com/wallpapers/san-francisco-night.jpg); height: 100%; background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
#thisone { color: black   ;  }
#middle {height:710px;text-align: center;   }
ul {list-style-position: inside;}
 img {width: 20%; height:20%;   border-color: black; }
	 h1 {color: black; font-family: times; }
	 h2 {color: black; font-size: 1.5em;}
	 h4 { color:black; }
	 body,html { height: 100%; 
	 	
	 
	 	 }   
}
}
}
}



@media screen and (max-width: 768px) {
  body {
    font-size: 2em;
  }
  
}


